[alias]
  s = status
  d = diff
  co = checkout
  cob = checkout -b
  del = branch -D
  br = branch -a --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  undo = reset HEAD~1 --mixed
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
[core]
  pager = diff-highlight | less -FRX
[gitreview]
  username = yoshikado